.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.primary-bg-color {
    background-color: #15803D;
}

.secondary-bg-color {
    background-color: #FACC15;
}

.primary-color {
    color: #15803D;
}

.secondary-color {
    color: #1F2937;
}

ul li {
    list-style: disc;
}